.is-fixed {
    position: fixed;
    bottom: 0;
    right: 30px;
}

.chat-opened {
    height: 100%;
}

.chat-closed {
    height: 0px;
}

.bar-opened {
    position: relative;
    bottom: 150px !important;
    width: inherit;
}

.bar-closed {
    bottom: 0px !important;
}

.conversation-opened {
    position: absolute;
    bottom: 164px !important;
    // width: 15.737%;
    width: 24%;
    height: 150%;
    background-color: rgb(255, 255, 255)
}

.conversation-closed {
    height: 0px;
}


.close-bar{
    position: absolute !important;  
    left: 86%; 
    top: 25%; 
    width: 10%;
}

.chat-area {
    height: 60px;
    width: 80%;
    position: fixed;
    bottom: 0;
    right: 18%;
    display: flex;
    flex-direction: row-reverse;
}


.main-nav-item:hover { 
    background-color: #2366d1;
}

.main-chat-item:hover{
    background-color: hsl(0, 0%, 96%);
}

.scroll{
    overflow-y: scroll;
}
.chat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 170px; 
  }
  
  .chat-message-container {
    display: flex;
    width: 100%;
    height: auto;
  }

  .chat-message {
    width: 75%;
    border-radius: 7px !important;
    border-top-left-radius: 2px !important;
  }

  .tag.is-dark-light {
      background: hsl(0, 0%, 86%);
  }
  
  .chat-message.me {
    align-self: flex-end;
    border-radius: 7px !important;
    border-bottom-right-radius: 0px !important;

  }