// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma";
@import "font-awesome";

$sizes: (0,1,2,3,4,5,6,7,8,9,10,15,20,25,30,35,40,45,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  .m-#{$size} {
    margin: $size + px !important;
  }
  .p-#{$size} {
    padding: $size + px !important;
  }
  .py-#{$size} {
    padding-top: $size + px !important;
    padding-bottom: $size + px !important;
  }
  .px-#{$size} {
    padding-right: $size + px !important;
    padding-left: $size + px !important;
  }
  .my-#{$size} {
    margin-top: $size + px !important;
    margin-bottom: $size + px !important;
  }
  .mx-#{$size} {
    margin-right: $size + px !important;
    margin-left: $size + px !important;
  }
  .py-#{$size} {
    padding-top: $size + px !important;
    padding-bottom: $size + px !important;
  }
  .pr-#{$size} {padding-right: $size + px !important;}
  .pl-#{$size} {padding-left: $size + px !important;}
  .pt-#{$size} {padding-top: $size + px !important;}
  .pb-#{$size} {padding-bottom: $size + px !important;}

  .mr-#{$size} {margin-right: $size + px !important;}
  .ml-#{$size} {margin-left: $size + px !important;}
  .mt-#{$size} {margin-top: $size + px !important;}
  .mb-#{$size} {margin-bottom: $size + px !important;}
}

html, body {
  background: $light;
  height: 100%;
}

.fa {
  margin-right: 5px;
}
.fa-0-8x {
  font-size: 80% !important;
}
.fa-normal {
  margin-right: 0px;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.h-center {
  align-items: flex-end;
}
.w-center {
  justify-content: center;
}
.float-left {
  float: left;
}

.height-inherit {
  height: inherit;
}

.menu-mane {
  min-width: 170px;
}

.pointer { cursor: pointer; }
.grab { cursor: -webkit-grab; cursor: grab; }

.draggable-area {
  border-radius: 10px;
  border: solid 2px #999;
  border-style: dashed;
  min-height: 100px;
}

.is-notification-counter{
  margin-top: -10px;
  margin-left: 10px;
  position: absolute;
}

.menu-list li a:hover {
  background-color: #3273dc;
  color: #fff;
  transition-duration: 0.2s;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.columns { // Bulma wrapping
  flex-wrap: wrap;
}


// App
.app-card {
  box-sizing: border-box;
  background: white;
  box-shadow: 0 5px 15px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  border-radius: 4px;
  transition-duration: 0.2s;
  &:hover {
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  }
}
.app-card-nested {
  background: whitesmoke;
  box-shadow: 0 5px 5px rgba(50,50,93,.1), 0 5px 15px rgba(96, 96, 96, 0.07);
  &:hover {
    box-shadow: 0 5px 15px rgba(50,50,93,.1), 0 5px 15px rgba(96, 96, 96, 0.07);
  }
}

.semantic-network {
  width: 100%;
  height: 500px;
  // border: solid 2px #ccc;
}
